.root{
    -fx-font-size: 20pt;
    -fx-background-color: #3f51b5;
    -fx-font-family: Arial;
}

.label{
    -fx-text-fill: #e8eaf6;
}

#round{
    -fx-background-radius: 10pt;
    -fx-padding: 10pt;
}

#header{
    -fx-font-size: 25pt;
    -fx-font-family: "Arial Black";
}